:root
{
    --bg-color: linear-gradient(to right, #00b7ff, #b1b1b1);
    --bg-aside: linear-gradient(to right,  #b1b1b1 ,#00b7ff);
}
body.dark
{
    --bg-color: linear-gradient(to right, #0087bd, #000);
    --bg-aside: linear-gradient(to right, #070707 , #0087bd);

}
