:root
{
    --bg-color: linear-gradient(to right, #00ff37, #b1b1b1);
    --bg-aside: linear-gradient(to right, #b1b1b1 , #00ff37);
}
body.dark
{
    --bg-color: linear-gradient(to right, #00d62e, #000);
    --bg-aside: linear-gradient(to right, #070707 , #00d62e);

}
