:root
{
    --bg-color: linear-gradient(to right, #d9ff00, #b1b1b1);
    --bg-aside: linear-gradient(to right, #b1b1b1 , #d9ff00);
}
body.dark
{
    --bg-color: linear-gradient(to right, #d6d300, #000);
    --bg-aside: linear-gradient(to right, #070707 , #d6d300);

}
